In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib as plt 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, mean_squared_log_error, mean_squared_error

In [2]:
df = pd.read_csv("df17.csv")

In [3]:
display(df)

,index,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Customer,State,...,Gender,Location Code,Marital Status,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,total_claim_amount,Total Claim Amount
0,0,2763.519279,56274.0,69.0,32,5,0,1,BU79786,Washington,...,0,2,Married,L3,Offer1,Agent,Two-Door Car,2,384.811147,384.811147
1,1,6979.535903,0.0,94.0,13,42,0,8,QZ44356,Arizona,...,0,2,Single,L3,Offer3,Agent,Four-Door Car,2,1131.464935,1131.464935
2,2,12887.431650,48767.0,108.0,18,38,0,2,AI49188,Nevada,...,0,2,Married,L3,Offer1,Agent,Two-Door Car,2,566.472247,566.472247
3,3,7645.861827,0.0,106.0,18,65,0,7,WW63253,California,...,1,2,Married,L3,Offer1,Call Center,SUV,2,529.881344,529.881344
4,4,2813.692575,43836.0,73.0,12,44,0,1,HB64268,Washington,...,1,1,Single,L3,Offer1,Agent,Four-Door Car,2,138.130879,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8570,9129,23405.987980,71941.0,73.0,18,89,0,2,LA72316,California,...,1,3,Married,L3,Offer2,Web,Four-Door Car,2,198.234764,198.234764
8571,9130,3096.511217,21604.0,79.0,14,28,0,1,PK87824,California,...,0,2,Divorced,L3,Offer1,Branch,Four-Door Car,2,379.200000,379.200000
8572,9131,8163.890428,0.0,85.0,9,37,3,2,TD14365,California,...,1,2,Single,L3,Offer1,Branch,Four-Door Car,2,790.784983,790.784983
8573,9132,7524.442436,21941.0,96.0,34,3,0,3,UP19263,California,...,1,2,Married,L3,Offer3,Branch,Four-Door Car,3,691.200000,691.200000
8574,9133,2611.836866,0.0,77.0,3,90,0,1,Y167826,California,...,1,2,Single,L3,Offer4,Call Center,Two-Door Car,2,369.600000,369.600000

In [ ]:
#1. Define X and y

In [4]:
X = df.drop("Total Claim Amount", axis = 1) 
y = df["Total Claim Amount"]

In [ ]:
#2. Import sklearn train_test_split and separate the data. Set test_size=0.30 and random_state=31

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=31)

In [ ]:
#3. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [6]:
X_train_num = X_train.select_dtypes(include=np.number)
X_test_num = X_test.select_dtypes(include=np.number) 

X_train_cat = X_train.select_dtypes('object')
X_test_cat = X_test.select_dtypes('object')

In [ ]:
#4. Encode the categorical variables X_train_cat and X_test_cat using the OneHotEncoder setup in the previous lab. 
# Remember to use .toarray() after .transform() to endup with a numpy array. Next, cast the resulting numpy arrays into pandas DataFrames. 
# Make sure that the column names of the new dataframes are correctly setup using encoder.get_feature_names_out() and the same indexes of X_train_cat and X_test_cat

In [9]:
X_train_cat.shape

(6002, 9)

In [10]:
X_test_cat.shape

(2573, 9)

In [13]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first')

X_train_cat_encoded = pd.DataFrame(encoder.fit_transform(X_train_cat).toarray(), columns=encoder.get_feature_names_out(X_train_cat))
X_test_cat_encoded = pd.DataFrame(encoder.transform(X_test_cat).toarray(), columns=encoder.get_feature_names_out(X_test_cat))

X_train_cat_encoded.index = X_train_cat.index
X_test_cat_encoded.index = X_test_cat.index

ValueError: input_features is not equal to feature_names_in_

In [ ]:
#5. Use X_train_num to fit a power transformer. Transform BOTH X_train_num and X_test_num. 
# Cast the resulting numpy arrays as pandas dataframes. Make sure to set the correct columns names and to use the same indexes of X_train_num and X_test_num. 
# Name the final resulting dataframes as: X_train_num_transformed_df and X_test_num_transformed_df

In [23]:
#Found variations of the below online to make X_train_num and X_test_num to make them the correct shape as I was getting an error on the PowerTransformer 
if X_train_num.shape[0] != X_train_num.size:
    X_train_num_1 = np.array(X_train_num).reshape(-1, X_train_num.shape[1])
if X_test_num.shape[0] != X_test_num.size:
    X_test_num_1 = np.array(X_test_num).reshape(-1, X_test_num.shape[1])

In [24]:
from sklearn.preprocessing import PowerTransformer 

pt = PowerTransformer()

X_train_num_transformed = pt.fit_transform(X_train_num_1) 
X_test_num_transformed = pt.fit_transform(X_test_num_1)

X_train_num_transformed_df = pd.DataFrame(X_train_num_transformed, columns=X_train_num.columns, index=X_train_num.index)
X_test_num_transformed_df = pd.DataFrame(X_test_num_transformed, columns=X_test_num.columns, index=X_train_num.index)

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [ ]:
#6. Concat X_train_num_transformed_df and X_train_cat_encoded_df into X_train_new and X_test_num_transformed_df and X_test_cat_encoded_df into X_test_new

In [ ]:
X_train_new = pd.concat([X_train_num_transformed_df, X_train_cat_encoded_df, axis=1])
X_test_new = pd.concat([X_test_cat_transformed_df, X_test_cat_encoded_df, axis=1])

In [ ]:
#7. Fit a MinMax scaler using X_train_new and transform X_train_new and X_test_new. 
# Create new pandas dataframes from the resulting numpy arrays. Remember to set the correct columns names and indexes. 
# Name the resulting dataframes as: X_train_new_scaled_df and X_test_new_scaled_df

In [25]:
from sklearn.preprocessing import MinMaxScaler 

scaler = MinMaxScaler()

X_train_new_scaled = scaler.fit_transform(X_train_new)
X_test_new_scaled = scaler.transform(X_test_new)

X_train_new_scaled_df = pd.DataFrame(X_train_new_scaled, columns=X_train_new.columns, index=X_train_new.index)
X_test_new_scaled_df = pd.DataFrame(X_test_new_scaled, columns=X_test_new.columns, index=X_test_new.index)

NameError: name 'X_train_new' is not defined

In [ ]:
#8. Train a simple linear regression model using X_train_new_scaled_df, and get the predictions for the train and test sets

In [ ]:
lr = LinearRegression()
lr.fit(X_train_new_scaled_df, y_train)

y_train_pred = reg.predict(X_train_new_scaled_df)
y_test_pred = reg.predict(X_test_new_scaled_df)

In [ ]:
#9. Create a function that given a model prediction and real values returns a pandas dataframe with the following table

In [ ]:
def error_metrics(y_train, y_test): 
    mae = mean_absolute_error(y_train, y_test)
    mse = mean_squared_error(y_train, y_test)
    rmse = np.sqrt(mse)
    mape = np.mean(np.abs(y_train - y_test) / y_train) * 100
    r2 = r2_score(y_train, y_test) 
    metrics = {'Mean Absolute Error': mae, 'Mean Squared Error': mse, 'Root Mean Squared Error': rmse, 'Mean Absolute Percentage Error': mape, 'R2': r2}
    
    return pd.DataFrame(list(metrics), columns = ['Mean Absolute Error', 'Mean Squared Error', 'Root Mean Squared Error', 'Mean Absolute Percentage Error', 'R2'])

In [ ]:
#10. Evaluate the linear model predictions using the previous function on the TRAIN and TEST sets

In [ ]:
#11. Now define a function that takes as an input: list of models, X_train and y_train to train several models (with default values) so we can train a lot of them without repeating code. 
# The function must return the list of trained models.

In [ ]:
def train_models(models, X_train, y_train): 
    trained_models = []
    for model in models: 
        model.fit(X_train, y_train) 
        trained_models.append(model)
    return trained_models

In [ ]:
#12. Use the function to train the following models (with default settings): LinearRegressor, KNeighborsRegressor, MLPRegressor

In [ ]:
from sklearn.neighbors import KNeighborsRegreessor 
from sklearn.neural_network import MLPRegressor 

models = [LinearRegression(), KNeighborsRegressor(), MLPRegressor()]
trained_models = train_models(models, X_train, y_train)

In [ ]:
#15. Evaluate the models with the function created earlier in the TRAIN and TEST sets. Which model performs best with the default options?